PORT=
CLIENT_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
JWT_REFRESH_SECRET=
JWT_SECRET=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=
MONGODB_URI=
MONGODB_NAME=
CUSTOM_DNS_SERVERS=
GOOGLE_CLIENT_ID=
BITESHIP_API_KEY=
EMAIL_USER=
EMAIL_APP_PASSWORD=